# The physical location of your servers
AWS_REGION=ap-south-1

# The exact name of your DynamoDB table
AWS_DYNAMODB_TABLE=your_table_name

# The full Amazon Resource Name (ARN) for your SNS topic
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:your_sns_arn
