
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment variables (VERY IMPORTANT)
.env

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# AWS credentials (extra safety)
*.pem

# Uploads (optional)
static/uploads/

